# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Virtual Environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.local

# Jupyter Notebooks
.ipynb_checkpoints

# Operating System Files
.DS_Store
Thumbs.db

# Other
build/
dist/
*.egg-info/
